<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Podoromo Timer</title>
</head>

<body class="text-center">
  <header class="masthead mb-auto title-container">
    <div class="inner">
      <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Pomodoro Timer</a>
      </nav>
  </header>
  <!-- our template -->

  <div class="d-flex h-100 p-3 mx-auto flex-column">
    <main role="main" id="app" class="inner cover">

      <div class="container">

        <form class="form-inline row justify-content-center" onsubmit="return false;">

          <div class="form-group">
            <input type="text" id="task-input" class="form-control md-2 mr-sm-2" placeholder="Enter title"
              v-model="taskName" v-on:keyup.enter="countingState">

            <!--     Start TImer -->
            <input type="button" id="start-btn" class="btn btn-primary md-2 mr-sm-2" v-if="!timer"
              @click="countingState" value="Start"></input>
            <!--     Pause Timer -->
            <input type="button" id="pause-btn" class="btn btn-warning md-2 mr-sm-2" v-if="timer" @click="pausedState"
              value="Pause"></input>
            <!--     Restart Timer -->
            <input type="button" id="reset-btn" class="btn btn-danger md-2 mr-sm-2" v-if="resetButton"
              @click="resetState" value="Reset"></input>
          </div>

        </form>

        <br />

        <div id="timer" class="container">
          <h1>{{ countMinutes }} : {{ countSeconds }} </h1>
        </div>

        <br />

        <h1 class="" hidden id="task-display">{{ taskName }}</h1>
      </div>

      <br />

      <!--     Clear History -->
      <div class="container">
        <button id="clear-btn" class="btn btn-lg btn-danger" v-if="clearButton" @click="clearHistory">Clear
          History</button>
      </div>

      <div class="  d-inline-flex p-2 bd-highlight" v-for="item in taskDone" :id="item.UUID">
        <div class="card border-success mb-3" style="max-width: 18rem;">
          <div class="card-header bg-transparent border-success">{{item.timeDone}}</div>
          <div class="card-body text-success">

            <h5 class="card-title">{{ item.taskName }}</h5>
            <p class="card-text">{{ item.timeMinutesFancy }} min {{ item.timeSecondsFancy }} sec</span></p>
          </div>
          <div class="card-footer bg-transparent border-success" @click="removeTask(item.UUID)">x</div>
        </div>
      </div>

    </main>
  </div>

  <link rel="stylesheet" href="./styles/bootstrap-min-4-0-0.css">
  <!-- <link rel="stylesheet" href="./styles/cover.css"> -->

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="./scripts/utils.js"></script>
  <script src="./scripts/app.js"></script>
</body>

</html>