<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <title>Podoromo Timer</title>
</head>

<body class="text-center">

  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto title-container">
      <div class="inner">
        <nav class="nav nav-masthead justify-content-center">
          <a class="nav-link" target="_blank" href="https://xingzhi.dev/blog/writing-a-pomodoro-timer/">Read about it</a>
          <a href="https://scotch.io/bar-talk/build-a-pomodoro-timer-with-vuejs-solution-to-code-challenge-6"
        target="_blank" class="nav-link">Inspired by scotch.io</a>
        </nav>
      </div>
      <h3>Pomodoro Timer</h3>
    </header>
    <!-- our template -->
    <main role="main" id="app" class="inner cover">

      <h5 class="cover-heading">{{ title }}</h5>
      <div id="timer">
        <p class=lead">
          <span id="minutes">{{ countMinutes }}</span>
          <span id="middle">:</span>
          <span id="seconds">{{ countSeconds }}</span>
        </p>
      </div>

      <div id="buttons" class="cover-heading">
        <!--     Start TImer -->
        <button id="start-btn" class="btn btn-lg btn-primary" v-if="!timer" @click="countingState">Start</button>
        <!--     Reset Timer -->
        <!-- <button id="done" class="btn btn-lg btn-success" v-if="resetButton" @click="resetTimer">Done</button> -->
        <!--     Pause Timer -->
        <button id="pause-btn" class="btn btn-lg btn-warning" v-if="timer" @click="pausedState">Pause</button>
        <!--     Restart Timer -->
        <button id="reset-btn" class="btn btn-lg btn-danger" v-if="resetButton" @click="resetState">Reset</button>
      </div>

      <span class="cover-heading task-display-name" hidden id="task-display">{{ taskName }}</span>

      <input id="task-input" type="text" class="form-control cover-heading" placeholder="Enter title" v-model="taskName" v-on:keyup.enter="countingState">

      <ul class="task-history">
        <li class="task-history-item" v-for="item in taskDone"><button class="btn btn-sm btn-danger" :id="item.UUID" @click="removeTask(item.UUID)">X</button><span class="list-item-text" style="display:inline-block;">{{ item.taskName }} | {{ item.timeMinutesFancy }} min {{ item.timeSecondsFancy }} sec<br />{{item.timeDone}}</span></li>
      </ul>

    </main>
  </div>

  <link rel="stylesheet" href="./styles/bootstrap-min-4-0-0.css">
  <link rel="stylesheet" href="./styles/cover.css">

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.min.js"></script>
  <script src="./scripts/utils.js"></script>
  <script src="./scripts/app.js"></script>
</body>

</html>